@model RMTracker.Core.Models.s_Cut

<div>
    <h4>ไม่พบงานก่อนหน้า</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.Label("ไม่มีงานก่อนหน้าให้ปฏิเสธ")

    </dl>
</div>
<p>
    @Html.ActionLink("ตกลง", "Index")
</p>
